
@font-face {
    font-family: "Bahnschrift";
    src: url(./Fonts/Bahnschrift/bahnschrift.ttf);
}

@font-face {
    font-family: 'Gauge - Regular';
    src: url(./Fonts/Gauge/Gauge-Regular.otf);
}

@font-face {
    font-family: 'Gauge - Heavy';
    src: url(./Fonts/Gauge/Gauge-Heavy.otf);
}

@font-face {
    font-family: 'Gauge - Oblique';
    src: url(./Fonts/Gauge/Gauge-Oblique.otf);
}

@font-face {
    font-family: 'Roboto Mono - Regular';
    src: url(./Fonts/Roboto\ Mono/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Mono - Medium';
    src: url(./Fonts/Roboto\ Mono/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: 'Nunito - Regular';
    src: url(./Fonts/Nunito/static/Nunito-Regular.ttf);
}

/*
    TODO:
        - transform nav
        - parallax ?
        - about polish
        - big work on services
        - big work on gallery
*/

*{
    --primary:#AF936E;
    --secondary:#C6B08E;
    --black:#010101;
    --white:#f3f3f3;
}

html, body{
    margin:0;
    padding:0;
    min-height: 100%;
}

main{
    background-color: var(--white);
    width:95%;
    min-height:95%;
    padding:0 6em;
    box-sizing: border-box;
    font-size: 1.4em;
    font-family: 'Roboto Mono - Medium';
}

section{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.sub-header{
    text-align: center;
    font-size: 1em;
    font-weight:lighter;
    margin:.6em 0;
}

button:hover{
    cursor:pointer;
}

.estimator-choice{
    border:#909090 solid 3px;
    background-color: var(--white);
    color:var(--black)
}

.estimator-choice-selected{
    border:#62BE77 solid 3px;
}

.estimator-choice-disabled{
    border:#BE211E solid 3px;
}

.estimator-choice-disabled:hover{
    cursor:auto;
}

.btn-hover{
    border: var(--black) solid 3px;
    transition: .35s ease-in;
}

.btn-hover:hover{
    border:var(--black) solid 3px;
    background-color: var(--white);
    color:var(--black);
}

.btn-disabled{
    background-color: #909090;
    border:var(--black) solid 3px;
    transition:.35s;
}

.btn-disabled:hover{
    cursor:auto;
}

/*
    About
*/
.about{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:#303030
}

.about-header{
    text-align: left;
    margin-left: 1.5em;
}

.about-container{
    display:flex;
    justify-content: center;
}

.about-content{
    width:55%;
    margin-right: 1em;

}

/*
    Services
*/

.services-banner{
    background-color: #303030;
    width:100%;
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/*
    Legacy Styles Below
*/



.estimator-questionaire{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.questionaire-item{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 2em 1em 2em;
    border:#d6cfcf solid 3px;
    border-radius: .5em;
}

.questionaire-choices{
    margin-bottom: 1em;
    display:flex;
    justify-content: space-around;
    width:90%;
}

.questionaire-choice-unselected{
    padding:.2em;
    border-radius:.2em;
    border:#d6cfcf solid 3px;
}

.questionaire-choice-selected{
    padding:.2em;
    border-radius:.2em;
    border:#4bffff solid 3px;
}

.questionaire-clearing{
    width:25vw;
}

.questionaire-acres input{
    margin-bottom:1.5em;
}

.questionaire-disposal{
    background-color: var(--white);
}

.questionaire-acres{
    width:25vw;
}

.questionaire-btns{
    display:flex;
    justify-content: space-around;
    width:50%;
}

/*
    Nav
*/

.main-nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    padding-bottom: 0.5em;
    background-color: goldenrod;
    position:fixed;
    top:0;
}

.main-nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: var(--white) solid 2px;
    background-color: crimson;
    width:30vw;
}

.main-nav a{
    color:var(--black);
    text-decoration: none;
    font-family: 'Gauge - Heavy';
    font-size:1.5em;
    border:var(--black) solid 2px;
}

.main-nav a:hover{
    border:white solid 2px;
    border-top-left-radius: .8em;
    border-bottom-right-radius: .8em;
    transition: 0.4s;
}

.header-logo{
    margin-top: 7em;
    width:95%;
    height:70%;
    background-color: var(--primary);
    display:flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10em;
    border-bottom-right-radius: 10em;
}

.header-logo img{
    width:60%;
    border-left: var(--black) solid 5px;
    border-right: var(--black) solid 5px;
    padding-left: 13em;
    padding-right: 13em;
}

/*
    Container
*/

.container{
    font-family: 'Gauge - Heavy';
    font-size: 1.5em;
    background-color: var(--secondary);
    width:95%;
    box-sizing: border-box;
    border-radius: 2em;
    display:flex;
    flex-flow: column;
    align-items: center;
}

.container-top-half{
    display:flex;
    justify-content: center;
    background-color: var(--primary);
    height:50%;
    width:100%;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    flex-grow: 1;
}

.container-bottom-half{
    background-color: var(--secondary);
    height: 50%;
    width:100%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    flex-grow: 1;
}

.container-one{
    margin-bottom: 2em;
}

.container-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    margin-bottom: 2em;
    position:relative;
}

.container-item:last-child{
    margin-bottom: 0;
}


.container-about{
    width:50%;
}

/*
    Services
*/

.container-services{
    background-color: var(--secondary);
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.service-item{
    padding:.2em;
}

.service-item:last-child{
    padding-bottom: 1em;
}

.service-information{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*
    Estimator
*/

.estimator{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:30vw;
}

.estimator-item{
    border:#303030 solid 2px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.service-estimator form{
    display:flex;
    flex-direction: column;
    width:35vw;
}

.estimator-section{
    display:flex;
    align-items: center;
    padding-bottom: .5em;
}

.estimator-selector{
    width:55%;
}

.estimator-unit{
    width:25%;
}

.estimator-option-select{
    text-align: center;
}

.estimator-total{
    border-top: var(--black) solid 2px;
    padding-top: .5em;
    padding-right: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.estimator-total-calculation{
    padding-right: 1em;
}

.estimator-selected-services{
    border-top: var(--black) solid 2px;
    padding:1em 0;
}

.estimator-selected-service{
    display:flex;
    justify-content: space-around;
}

.estimator-selected-service-unit{
    padding-left: .5em;
}
*/



/*
    Price Guide
*/

.service-price-guide{
    display:flex;
    flex-direction: column;
    width:40vw;
    margin-top: 1em;
}

.price-guide-row{
    width:100%;
    box-sizing: border-box;
    display:flex;
    padding-bottom: .4em;
}

.price-guide-description-title{
    width:80%;
    padding-bottom: .1em;
    border-bottom: var(--black) solid 2px;
}

.price-guide-rate-title{
    width:20%;
    padding-bottom: .1em;
    border-bottom: var(--black) solid 2px;
}

.price-guide-description{
    width:80%;
}

.price-guide-rate{
    width:20%;
}

.price-guide-comments{
    width:50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
    Contact 
*/

.container-contact{
    background-color: var(--secondary);
    text-align: center;
}

.container-contact div:last-child{
    padding-bottom: 1em;
}

.contact-information{
    padding:1em 0;
}

/*
    General
*/

.border-bottom{
    border-bottom: var(--black) solid 2px;
}

.unit-input{
    text-align: center;
    width:3em;
    border:var(--black) solid 2px;
    border-radius: .2em;
    background-color: var(--white);
    font-size: 1.18em;
}

.outer-border{
    background-color: var(--black);
    width:100%;
    min-height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.hr-divider{
    width: 100%;
    position:relative;
    bottom:.5em;
}

.margin-top-light{
    margin-top: 2em;
}

.margin-top-very-light{
    margin-top: 1em;
}

.margin-bottom-light{
    margin-bottom: 2em;
}

.margin-bottom-very-light{
    margin-bottom: 1em;
}

.description-text{
    font-size: .75em;
    font-family: 'Nunito - Regular';
    margin-top: 1em;
    margin-bottom: 1.5em;
}

/*
    Elements
*/

h2{
    text-align: center;
}

footer{
    background-color: var(--black);
    height:8em;
}

header{
    background-color: var(--black);
    height:30em;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button{
    border:none;
    background-color: var(--black);
    color:var(--white);
    font-size:1em;
    border-radius: .15em;
    padding:.1em .3em;
    font-family: 'Nunito - Regular';
}

